@font-face{
    font-family: montserrat-regular;
    src: url(../font/Montserrat-Regular.ttf);
}
@font-face{
    font-family: montserrat-bold;
    src: url(../font/Montserrat-Bold.ttf);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html, body, section
{
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
}

.navbar ul{
    width: 100%;
    bottom: 0;
    background: white;
    padding: 0 0px;
    position: fixed;
    list-style: none;
    text-align: center;
    font-family: montserrat-bold;
    z-index: 1;
}

.navbar ul::after{
    content: "";
    clear: both;
    display: block;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li:hover{
    background: rgb(240, 240, 240);
}

.navbar ul li a{
    display: block;
    color: black;
    padding: 20px 20px;
    text-decoration: none;
}

.navbar ul li:hover a{
    color:  navy;
}

.navbar ul li:hover > ul{
    display:flex;
}

.navbar ul ul{
    background: white;
    position: absolute;
    padding: 0;
    bottom: 100%;
    display: none;
    width: auto;
    border-radius: 10px 10px 0 0;
}

.navbar ul ul li{
    float: none;
    position: relative;
}

.navbar ul ul li a{
    padding: 10px 35px;
    color: black;
}

.navbar ul ul li a:hover{
    background: rgb(240, 240, 240);
    color: black;
}

.content{
    z-index: -1;
}

.grid-container-1{
    display: grid;
    margin: 70px 100px 40px 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 50px 65px;
    justify-items: stretch;
}

.grid-container-1 h3{
    font-family: montserrat-bold;
    font-size: 25px;
}

.grid-container-1 p{
    font-family: montserrat-regular;
    font-size: 15px;
}

#buy{
    border-radius: 10px; 
    height: 45px; 
    width: 200px; 
    background: transparent; 
    border: rgb(251, 255, 13) solid; 
    color: navy;
    font-family: montserrat-bold;
}

#buy:hover{
    background-color: rgb(251, 255, 13);
    color: navy;
}